.communicate {
  height: 96vh;
  padding-top: 4vh;
  background-color: #F5F5F5;
}
.book_area, .news_area {
  margin: 0 5vw;
}

.book_area {
  height: 17vh;
  margin-bottom: 2vh;
  .info {
    width: 77%;
    height: 242px;
    margin: 0 auto;
    background-color: #FFFFFF;
    border-radius: 10px;
    button {
      width: 40%;
      margin-top: 10px;
      padding: 0;
      float: right;
      background-color: #FFCA4E;
      font-size: 22px;
    }
  }
  .avatar_left {
    float: left;
  }
  .avatar_right {
    float: right;
  }
}

.news_area {
  width: 90vw;
  height: 69vh;
  margin-bottom: 2vh;
  overflow-y: scroll;
}
/*每一条*/
.news {
  width: 90vw;
  height: 145px;
  clear: both;
  line-height: 81px;
  >text { // 消息文本
    display: inline-block;
    padding: 0 24px;
    background-color: #FFFFFF;
    border-radius: 32px;
  }
}
.news_left {
  float: left;
  clear: both;
  .at-avatar {
    float: left;
    margin-right: 30px;
  }
}
.news_right {
  float: right;
  .at-avatar {
    float: right;
    margin-left: 30px;
  }
  >text {
    float: right;
  }
}

// 输入bar
.send {
  width: 100vw;
  height: 7vh;
  padding: 20px 30px 20px 8px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  background-color: #FFFFFF;
  .at-input {
    width: 72vw;
    padding: 24px 14px;
    background-color: #ECECEC;
    border-radius: 42px;
  }
  // "发送"
  .send_btn, .media_btn {
    width: 18vw;
  }
  // ＋号
  .media_btn {
    height: auto;
    border: none;
    .at-avatar__text {
      color: black;
    }
  }
}
