.uimg{
  width: 100rpx; height: 100rpx;
    position: absolute; left: 3%; top: 2%;
    margin-top: 0rpx;
    margin-left: 0rpx;
    font-size: medium;
}
.uname{
    //width: 100rpx; height: 100rpx;
    position: absolute; left: 18%; top: 4%;
    margin-top: 0rpx;
    margin-left: 0rpx;
    font-size: medium;
  }
  .uindex{
    width: 150rpx; height: 150rpx;
    position: absolute; left: 80%; top: 5%;
    margin-top: 0rpx;
    margin-left: 0rpx;
  }
  .right{
    height: 24px; width: 10px;
     display: inline-block;
    position: absolute; left: 97%; top: 5%;
    margin-top: 8rpx;
  }
