.publish{
    background-color: #ffffff;
    color: #696969;
    font-size: 32px;
    padding: 0 42px;
    // 每个AtTag
    .at-tag {
      min-width: 115px;
      padding: 0;
      margin-right: 30px;
      margin-bottom: 10px;
    }
    // 每一块选项
    >view {
      margin-bottom: 21px;
    }
}
.title{
    position:relative;
    border-style: solid;
    border-color: #ffffff;
    // 必填项icon
    .icon_x{
      position: absolute;
      //top:-3rpx;
      left:9px;
    }
}
// 新旧程度
.old {
  .at-tag {
    font-size: 23px;
    color: #FD973F;
    border-color: #FD973F;
  }
}
// 书籍信息
.isbn {
  // 提示语
  > view:nth-of-type(2) {
    font-size: 27px;
    color: #F97024;
  }
  // 两个按钮
  >view:nth-of-type(3) {
    display: flex;
    justify-content: space-between;
    >.at-button {
      width: 303px;
      height: 67px;
      display: inline-block;
      background-color: #D1FEBF;
      line-height: 60px;
      border: 1px #D1FEBF solid;
      border-radius: 60px;
    }
  }
  // 手动输入modal
  .at-modal__content {
    >view {
      text-align: center;
      color: #FD973F;
    }
    image {
      width: 360px;
      height: 200px;
      margin: 0 auto;
      display: block;
    }
    .at-input {
      width: 260px;
      margin: 0 auto;
      background-color: #f0f0f0;
    }
  }
  .at-modal__action {
    height: 90px;
    .at-button {
      margin-top: 0;
      margin-bottom: 0;
      border: 0;
    }
  }
}
// 换书寄语
.words {
  // 输入框
  >.at-textarea {
    width: 640px;
    height: 100px;
    background-color: #f7f7f7;
    border-radius: 12px;
    border-style: none;
    }
}
// 发布按钮
.button{
  width: 301px;
  height: 89px;
  background: #FFCA4E;
  border-radius: 14px 14px 14px 14px;
  border-style: none;
  position:relative;
  top: 15px;
}
