// 页面主体
.index {
  width: 750px;
  height: 100vh;
  padding: 0 23px;
  background: linear-gradient(180deg, #FFFFFF 0%, #F5F5F5 23%, #F5F5F5 100%);
  border-radius: 48px 48px 0 0;
  font-size: 28px;
  color: #7b7b7b;
}
// 主页背景，为了实现圆角
.index_background{
  background-color: #81cea2;
  .title {
    margin-top: 17px;
    margin-left: 12px;
    font-weight: 500;
    font-size: 35px;
    color: #666666;
  }
}
// 校园认证
.school {
  height: 70px;
  padding-left: 30px;
  // 标题
  >view:nth-of-type(1) {
    >view {
      display: inline-block;
      background-color: #2A851E;
    }
    text {
      display: inline-block;
      margin-left: 30px;
      font-size: large;
    }
  }
  // 展开列表
  .university_list {
    min-width: 287px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    background-color: white;
    // 列表项
    >view {
      height: 43px;
      padding: 12px 24px;
      margin: 14px 0 0 21px;
      border-radius: 29px;
      color: #81CEA2;
      text-align: center;
   }
  }
}
// 搜索框
.index_background .at-search-bar {
  width: 704px;
  height: 69px;
  background: #f7f7f7;
  border-radius: 35px 35px 35px 35px;
  opacity: 1;
  //搜索按钮
  .at-search-bar__action{
    color: #ffffff;
    text-align: center;
    background-color: #81cea2;
    border-radius: 23px;

  }
}
// banner
.index_background swiper {
  image {
    height: 100%;
    margin: 0 auto;
    display: block;
  }
}
// 分类换书+换书广场板块
.area {
  width: 704px;
  margin-top: 20px;
  border-radius: 23px;
  background-color: #ffffff;
  opacity: 1;
}
//分类换书
.divide{
  height: 250px;
  .scroll-tag {
    margin-top: 20px;
    white-space: nowrap;
    .scroll-item {
      display: inline-block;
      width: 25%;
      view {
        margin: 0 auto;
      }
    }
  }
}
// 全部书籍
.atAll{
  height: 40px;
  padding: 0;
  margin: 20px 10px 20px 280px;
  color: #B8B7B7;
  font-size: 20px;
  line-height: 37px;
  border:1px solid #cdcdcd;
  border-radius: 25px;
  .at-button {
    width: 200px;
  }
}
// 换书广场
.square {
  .no_location {
    text-align: center;
    image {
      width: 350px;
      height: 200px;
      margin: 0 auto;
      display: block;
    }
    text {
      height: 100px;
      font-size: 38px;
    }
  }
  // Tab
  .at-tabs__header{
    height: 62px;
    width: 400px;
    margin: 10px auto;
    background-color: #f1f1f1;
    border-radius: 59px;
  }
  .at-tabs__item {
    color: #7b7b7b;
    border-style: none;
    font-size: small;
    line-height: 23px;
  }
  .at-tabs__item--active {
    background-color: #ffcf4d;
    border-radius: 59px;
    border-style: none;
    border-bottom-color:#ffcf4d ;
    color: #ffffff;
  }
  .at-tabs__item-underline {
    background-color: #ffcf4d;
  }
}
