input {
  width: 70%;
  margin-left: 2vw;
}
.index {
  padding: 0 7vw;
  border-radius: 33rpx 33rpx 0 0;
  background-color: #ffffff;
  color: #7b7b7b;
  font-size: 28rpx;
}
// 主页背景，为了实现圆角
.index_background{
  background-color: #81cea2;
}
//分类换书
.divide{
  border-radius: 2% 2% 2% 2%;
  background-color: #ffffff;
  color: #7b7b7b;
  width: 648rpx;
  height: 210rpx;
}
.at-row__justify--between{
  height: 40rpx;
  margin-top: 8rpx;
}
.atAll{
  color: '#e4e3e3';
  font-size: 17rpx;
  margin-left: 280rpx;
  margin-top: 5rpx;
  margin-right: 10rpx;
  border:1px solid #cdcdcd;
  border-radius: 25rpx;
}
.at-col{
  background-color: #ffffff;
 
}
.tag{
  width: 30rpx;
  // height: 32rpx;
  margin-left: 20rpx;
}
.titleText{
  // font-weight: bold;
  padding-left: 13rpx;
}
// 换书广场
.square{
  border-radius: 2% 2% 2% 2%;
  background-color: #ffffff;
  //color: #b3b3b3;
}
