
.personpage{
    background-color: #f7f7f7;
    height: 1300rpx;
    color: #696969;
}
.signpage{
    background-color: #ffffff;
    border-radius: 13rpx;
    width: 700rpx; height: 550rpx;
    position: absolute; left: 50%; top: 45%;
    margin-top: -275rpx;    /* 高度的一半 */
    margin-left: -350rpx;    /* 宽度的一半 */
}
.mesg{
    background-color: #f7f7f7;
    border-radius: 12rpx;
    border-style: none;
    width: 640rpx; height: 100rpx;
    position: absolute; left: 50%; top: 44%;
    margin-top: -80rpx;    /* 高度的一半 */
    margin-left: -320rpx;    /* 宽度的一半 */
    font-size: 12rpx;
}
.welcome{
    // background-color: #f7f7f7;
    width: 640rpx; height: 50rpx;
    position: absolute; left: 50%; top: 70%;
    margin-top: -25rpx;    /* 高度的一半 */
    margin-left: -320rpx;    /* 宽度的一半 */

}
.username{
    width: 150rpx; height: 150rpx;
    position: absolute; left: 55%; top: 32%;
    margin-top: -75rpx;    /* 高度的一半 */
    margin-left: -75rpx;    /* 宽度的一半 */
    font-size: small;
}
#mine{
    width: 700rpx; height: 50rpx;
    position: absolute; left: 46%; top: 54%;
    margin-top: -25rpx;    /* 高度的一半 */
    margin-left: -350rpx;    /* 宽度的一半 */
    font-size: small;
}
.img{
    margin-top: 15rpx;    /* 高度的一半 */
    margin-left: 50rpx;    /* 宽度的一半 */
    position:relative;
    top:20px;
}
.text{
    width: 70rpx;
    height: 30px;
    padding-left: 20px;
    font-size: large;
}
.right{
    position:relative;
    left:450rpx;
}
.head{
    width: 150rpx; height: 150rpx;
    position: absolute; left: 50%; top: -1%;
    margin-top: 75rpx;    /* 高度的一半 */
    margin-left: -75rpx;    /* 宽度的一半 */
    border-style: solid;
    border-color: #ffffff;
}
.at-divider__content{
    background-color: #f7f7f7;
}
