.book_list >.item_out {
  .item-extra__info {
    color: #e16b1d;
    border-color: #e16b1d;
  }
}
.book_list >.item_in {
  .item-extra__info {
    border-color: #f4c669;
    color: #f4c669;
  }
}
.book_list .at-list__item .item-extra__info{
  width: 118px;
  height: 46px;
  margin-top: -80px;
  font-size: 24px;
  font-weight: 600;
  border-width: 3px;
  border-style:solid;
  border-radius: 16px;
}
