.changeRules{
  width: 691rpx;
  height: 1145rpx;
  margin-left: 30rpx;
  margin-top: 30rpx;
  padding-top: 30rpx;
  border-radius: 20rpx;
}
.changeRules1{
  width: 635rpx;
  height: 864rpx;
  margin-left: 30rpx;
  border-radius: 20rpx;
}
.changeRules2{
  border-radius: 20rpx;
  font-size:35rpx;
}
.changeRules3{
  padding-left:6rpx;
  margin-top: 30rpx;
  background-color: #f7f7f7;
  border-radius: 20rpx;
}
