input {
    width: 70%;
    margin-left: 2vw;
  }
.bookDetail {
    padding: 0 7vw;
    border-radius: 33rpx 33rpx 0 0;
    background-color: #ffffff;
    color: #7b7b7b;
    font-size: 28rpx;
}
.button{
  width: 301rpx;
  height: 89rpx;
  position:absolute;
  left: 31%;
  bottom: 5%;
  background: #FFCA4E;
  border-radius: 14rpx 14rpx 14rpx 14rpx;
  border-style: none;
  button {
    border-color: #FFCA4E;
    color: #ffffff;
  }
}
.booktag{
  border-color: #e58140;
  color: #e58140;
}
.bookname{
  font-size: large;
  font-style: normal;
  margin-bottom: 14rpx;
}
.bookimg{
  height: 535px;
  position: absolute;
  left: 0;
  top: 130px;
}
.bookmes{
  position: absolute;
  left: 6%;
  top: 46%;
  /*图书简介*/
  .info {
    height: 279px;
    overflow-y: scroll;
  }
}
