@import "~taro-ui-vue/dist/style/index.scss";
.page{
    margin-bottom: 20px;
    display: inline-block;
      margin-left: 24px;
      margin-bottom: 12px;
      color: #eba06f;
      font-size: 24px;
      font-weight: 100;
}
.booktag{
    margin-bottom: 20px;
    display: inline-block;
      margin-left: 24px;
      margin-bottom: 12px;
      color: #eba06f;
      font-size: 24px;
      font-weight: 100;
}
// .tabbaricon{
//     iconsize: 50px;
//     color: #fff;
//     selectedColor:#a0a0a0;
// }