@import "~taro-ui-vue/dist/style/index.scss";
.page{
    margin-bottom: 20px;
    display: inline-block;
      margin-left: 24px;
      margin-bottom: 12px;
      color: #eba06f;
      font-size: 24px;
      font-weight: 100;
}
.booktag{
    margin-bottom: 20px;
    display: inline-block;
      margin-left: 24px;
      margin-bottom: 12px;
      color: #eba06f;
      font-size: 24px;
      font-weight: 100;
}
.at-list__item {  /*list item*/
  font-size: 38rpx;
  line-height: 2.5;
}
.at-list__item-extra {  /*可换、求换标签*/
  line-height: 54rpx; /*让文子居中*/
}
.item-extra__info { /*标签内字体*/
  height: 57px;
  padding-left: 28rpx;
  align-items: center;
}
$thumbSize: 110rpx;
.at-list__item--thumb .item-thumb {
  width: $thumbSize;
  height: $thumbSize;
}

// sprite图
.sprite {
  display: block;
  background: url("./assets/icons.png") no-repeat;
}

.sprite-arrow_down {
  width: 14px;
  height: 14px;
  background-position: -1px -1px;
}

.sprite-arrow_down_samll_white {
  width: 7px;
  height: 7px;
  background-position: -17px -1px;
}

.sprite-arrow_down_small {
  width: 7px;
  height: 7px;
  background-position: -26px -1px;
}

.sprite-arrow_right_small {
  width: 6px;
  height: 6px;
  background-position: -35px -1px;
}

.sprite-group_1novel {
  width: 47px;
  height: 47px;
  background-position: -43px -1px;
}

.sprite-group_2education {
  width: 47px;
  height: 47px;
  background-position: -92px -1px;
}

.sprite-group_3internet {
  width: 47px;
  height: 47px;
  background-position: -1px -50px;
}

.sprite-group_4literature {
  width: 47px;
  height: 47px;
  background-position: -50px -50px;
}

.sprite-group_5science {
  width: 47px;
  height: 47px;
  background-position: -99px -50px;
}

.sprite-group_6psychology {
  width: 47px;
  height: 47px;
  background-position: -1px -99px;
}

.sprite-group_7other {
  width: 47px;
  height: 47px;
  background-position: -50px -99px;
}

.sprite-index_location {
  width: 25px;
  height: 25px;
  background-position: -99px -99px;
}

.sprite-index_search {
  width: 14px;
  height: 15px;
  background-position: -141px -1px;
}

.sprite-mine_books {
  width: 33px;
  height: 33px;
  background-position: -126px -99px;
}

.sprite-mine_modify {
  width: 16px;
  height: 16px;
  background-position: -1px -18px;
}

.sprite-mine_rules {
  width: 33px;
  height: 33px;
  background-position: -157px -1px;
}

.sprite-publish_highlight {
  width: 8px;
  height: 8px;
  background-position: -192px -1px;
}

.sprite-tab_index {
  width: 27px;
  height: 27px;
  background-position: -148px -36px;
}

.sprite-tab_index_selected {
  width: 27px;
  height: 27px;
  background-position: -148px -65px;
}

.sprite-tab_message {
  width: 30px;
  height: 30px;
  background-position: -161px -94px;
}

.sprite-tab_message_selected {
  width: 30px;
  height: 30px;
  background-position: -161px -126px;
}

.sprite-tab_mine {
  width: 27px;
  height: 27px;
  background-position: -1px -158px;
}

.sprite-tab_mine_selected {
  width: 27px;
  height: 27px;
  background-position: -30px -158px;
}

.sprite-tab_publish {
  width: 27px;
  height: 27px;
  background-position: -59px -158px;
}
