@import "~taro-ui-vue/dist/style/index.scss";
.page{
    margin-bottom: 20px;
    display: inline-block;
      margin-left: 24px;
      margin-bottom: 12px;
      color: #eba06f;
      font-size: 24px;
      font-weight: 100;
}
.booktag{
    margin-bottom: 20px;
    display: inline-block;
      margin-left: 24px;
      margin-bottom: 12px;
      color: #eba06f;
      font-size: 24px;
      font-weight: 100;
}
.at-list__item {  /*list item*/
  font-size: 38rpx;
  line-height: 2.5;
}
.at-list__item-extra {  /*可换、求换标签*/
  line-height: 54rpx; /*让文子居中*/
}
.item-extra__info { /*标签内字体*/
  height: 57px;
  padding-left: 28rpx;
  align-items: center;
}
$thumbSize: 110rpx;
.at-list__item--thumb .item-thumb {
  width: $thumbSize;
  height: $thumbSize;
}

// sprite图
.sprite {
  display: block;
  background: url("./assets/icons.png") no-repeat;
}
